ARM/Nordic/nRF52/CMSIS/Debug/makefile
ARM/Nordic/nRF52/CMSIS/Debug/objects.mk
ARM/Nordic/nRF52/CMSIS/Debug/sources.mk

# Eclipse
language.settings.xml

ARM/NXP/LPC11xx/exemples/UartDemo/Release/

ARM/Nordic/nRF51/exemples/Uart_Ble/Release/
