# nRF51822 Target
#source [find interface/cmsis-dap.cfg]
interface cmsis-dap
cmsis_dap_vid_pid 0x1FC9 0x80D1
#cmsis_dap_serial 0

#transport select swd

set WORKAREASIZE 0x4000
source [find target/nrf51.cfg]
#source [find board/nordic_nrf51822_mkit.cfg]


# use hardware reset, connect under reset
#reset_config srst_only srst_nogate

adapter_khz 1000


